:root{
    --gray-dark: #1B1B1B;
    --gray-medium: #2D2C2C;
    --gray-regular: #3E3E3E;
    --red-medium: #BD0A0A;
    --red-regular: #b72d2d;
    --padding-side: 5%;
}
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
a{
    color: #fff;
    text-decoration: none;
}
button{
    color: #fff;
    cursor: pointer;
    background-color: var(--red-medium);
    font-size: 1.5em;
    transition: 200ms ease;
}
button:hover{
    background-color: var(--red-regular);
}
header{
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
}
section{
    padding: 40px var(--padding-side);
    width: 100%;
    display: flex;
}
html, body{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: 100px;
}
body{
    display: flex;
    justify-content: center;
}
div#root{
   width: 100%;
   max-width: 1600px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
header.hd_socials{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px initial;
    height: 50px;
    justify-content: flex-end;
    background-color: var(--gray-dark);
}
header.hd_socials strong{
    display: none;
}
div.socials{
    display: flex;
}
div.socials a{
    margin: 0 15px;
}
div.socials a img{
    width: 30px;
    height: 30px;
}
section.sec1{
    min-height: 520px;
    flex-direction: column;
    background-image: url(../src/bg.jpg);
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: cover;
}
header.hd_nav{
    height: 60px;
    justify-content: space-between;
}
strong.logo_hd{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}
header.hd_nav nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
header.hd_nav nav a{
    margin: 0 10px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: 200ms ease all;
}
div.txt-sec1{
    margin: 60px 0 0 0;
    max-width: 50%;
}
div.txt-sec1 span{
    color: #fff;
    margin: 0 0 5px 0;
    font-size: 1.5em;
    font-weight: 400;
}
h1{
    color: #fff;
    font-size: clamp(2.5em, 5vw, 4em);
    font-weight: 600;
}
h2{
    margin: 10px 0 0 0;
    max-width: 520px;
    color: #fff;
    font-size: 1.5em;
    font-weight: 200;
}
h3{
    color: #fff;
    font-size: 2em;
}
div.txt-sec1 button{
    margin: 40px 0 0 0;
    padding: 10px 80px;
}

div#burguer{
    width: 60px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
}
div.line{
    margin: 3px 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
}
div#praises{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--gray-dark);
}
div.praise-cont{
    margin: -40px 0 0 0;
    padding: 10px 20px;
    width: 80%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-medium);
}
div.praise{
    margin: 0 clamp(10px, 5vw, 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.praise strong{
    color: #fff;
    font-size: 20px;
}
div.praise img{
    width: 60px;
    height: 60px;
}

section.sec2{
    background-color: var(--gray-dark);
}
div.cont-sec2{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
div.cont-sec2 > img{
    margin: 0 20px 0 0;
    width: 100%;
    max-width: 450px;
    max-height: 342px;
}
div.txt-sec2 h3{
    margin: 0 0 10px 0;
}
div.txt-sec2 p{
    max-width: 500px;
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.5;
}
div.txt-sec2
div.processor{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
div.processor img{
    margin: 0 25px 0 0;
    width: 100px;
    height: 100px;
}
div.processor ul li{
    margin: 7px 0;
    color: #fff;
    list-style: none;
    font-size: 1.3em;
}
div.txt-sec2 button{
    margin: 20px 0 0 0;
    padding: 10px 50px;
}

section.sec3{
    border-top: 7px solid var(--red-medium);
    border-bottom: 7px solid var(--red-medium);
    background-color: var(--gray-medium);
    flex-direction: column;
    align-items: center;
}
section.sec3 > h3{
    margin: 0 0 25px 0;
}
div.cont-sec3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
div.component{
    margin: 10px;
    padding: 0 0 20px 0;
    width: 100%;
    max-width: 350px;
    text-align: center;
    background-color: var(--gray-regular);
}
div.img-comp{
    margin: 0 0 20px 0;
    width: 100%;
    height: calc(10vh + 80px);
    max-height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.img-comp.ssd{
    background-image: url(../src/SSD.jpg);
}
div.img-comp.ram{
    background-image: url(../src/RAM.jpg);
}
div.img-comp.rtx{
    background-image: url(../src/RTX.jpg);
}
div.component strong{
    color: #fff;
    font-size: 1.5em;
}
div.component p{
    margin: 10px 0;
    color: #fff;
    font-size: 1em;
    font-weight: lighter;
}

section.sec4{
    padding-bottom: 150px !important;
    flex-direction: column;
    background-color: var(--gray-dark);
}
section.sec4 h3{
    margin: 10px 0 30px 0;
    text-align: center;
}
div.cont-sec4{
    width: 100%;
    display: flex;
    justify-content: center;
}
div.cont-img4{
    width: 40%;
}
div.cont-img4 img{
    width: 90%;
}
div.txt-sec4 p{
    max-width: 500px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
}
div.txt-sec4 ul{
    margin: 10px 0 0 0;
}
div.txt-sec4 ul li{
    list-style: none;
    font-size: 1.3em;
    font-weight: 300;
    color: #fff;
}
div.txt-sec4 ul li::before{
    content: "-";
    margin: 0 5px 0 0;
    font-size: 1.3em;
    font-weight: 300;
    color: #fff;
}

div.cont-imgs-note{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-medium);
}
div.imgs-note{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
div.imgs-note div.img{
    margin: -100px 0 0 0;
    width: 30%;
    min-height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.imgs-note div.img:nth-child(1){
    background-image: url(../src/nt-1.jpg);
}
div.imgs-note div.img:nth-child(2){
    background-image: url(../src/nt-2.jpg);
}
div.imgs-note div.img:nth-child(3){
    background-image: url(../src/nt-3.jpg);
}
div.cont-imgs-note button{
    margin: -30px 0 0 0;
    padding: 10px 30px;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.sec5{
    flex-direction: column;
    background-color: var(--gray-medium);
}
section.sec5 h3{
    text-align: center;
}
div.cont-sec5{
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
div.addtional{
    margin: 0 20px;
    max-width: 600px;
    display: flex;
}
div.addtional img{
    margin: 0 10px 0 0;
    width: 108px;
    height: 108px;
}
div.txt-additional strong{
    color: #fff;
    font-size: 1.5em;
}
div.txt-additional p{
    color: #fff;
    font-size: 1.15em;
    font-weight: lighter;
    line-height: 1.5;
}
footer{
    padding: 40px var(--padding-side);
    border-top: 7px solid var(--red-medium);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}
div.make-by{
    text-align: center;
}
div.make-by p,
div.make-by a{
    color: #fff;
    font-size: 1.1em;
}
div.nome-ft{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.nome-ft strong{
    color: #fff;
    font-size: 1.8em;
}
div.nome-ft span{
    color: #fff;
    font-weight: lighter;
    font-size: 1.2em;
}
@media screen and (max-width: 1000px){
    div.cont-sec2{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }
    div.cont-sec2 > img{
        margin: 40px 0 0 0;
    }
    div.txt-sec2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.txt-sec2 h3{
        font-size: calc(1.5em + 2vw);
        text-align: center;
    }
    div.txt-sec2 p{
        max-width: none;
        font-size: calc(14px + 1vw);
        text-align: center;
    }
    div.processor{
        margin: 30px 0;
        justify-content: center;
    }
    div.cont-sec3{
        flex-direction: column-reverse;
        align-items: center;
    }
    div.component{
        max-width: 500px;
    }
    div.img-comp{
        height: 200px;
        max-height: none;
    }
    div.component p{
        margin: 15px 0;
        font-size: 1.3em;
    }
    section.sec5{
        align-items: center;
    }
    div.cont-sec5{
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
    }
    div.addtional{
        margin: 20px 0;
        max-width: none;
    }
}
@media screen and (min-width: 851px){
    section.sec1{
        margin: 50px 0 0 0;
    }
    header.hd_nav{
        position: fixed;
        top: 50px;
        right: 0;
        left: 0;
        background-color: #000;
    }
    header.hd_nav nav a:hover{
        font-weight: bold;
        text-decoration: underline;
    }
}
@media screen and (max-width: 850px){
    :target{
        scroll-margin-top: 50px;
    }
    header.hd_nav strong{
        display: none;
    }
    header.hd_nav nav{
        position: fixed;
        top: 62px;
        right: -100%;
        padding: 20px 30px;
        width: 60%;
        max-width: 400px;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--gray-regular);
        transition: 200ms ease;
    }
    header.hd_nav nav a{
        margin: 10px 0;
        padding: 10px;
        width: 100%;
    }
    header.hd_nav nav a:hover{
        color: var(--gray-dark);
        background-color: #fff;
    }
    div#burguer{
        display: flex;
        cursor: pointer;
    }
    div#burguer div.line{
        transition: 200ms ease;
    }

    div#burguer.active div.line:nth-child(1){
        transform: rotate(45deg) translate(5px, 10px);
    }
    div#burguer.active div.line:nth-child(2){
        opacity: 0;
    }
    div#burguer.active div.line:nth-child(3){
        transform: rotate(-45deg) translate(5px, -11px);
    }


    header.hd_socials{
        padding: 30px var(--padding-side);
        position: fixed;
        top: 0;
        justify-content: space-between;
        border-bottom: 2px solid var(--red-medium);
    }
    div.socials{
        display: none;
    }
    header.hd_socials strong{
        display: initial;
    }
    section.sec1{
        background-image: url(../src/bg-2.jpg);
        background-position: center;
        min-height: 650px;
    }
    div.txt-sec1{
        width: 100%;
        max-width: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    div.txt-sec1 h1{
        max-width: 400px;
    }
    
    div.txt-sec1 button{
        margin: 15px 0 0 0;
    }
    div.praise-cont{
        margin: -7vw 0 0 0;
        width: 95%;
        max-width: none;
    }
    div.cont-sec4{
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    div.cont-img4{
        width: 60%;
        min-width: 350px;
    }
    div.txt-sec4 p{
        max-width: 600px;
        font-size: 1.4em;
        text-align: center;
    }
    div.txt-sec4 ul{
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.txt-sec4 ul li{
        width: 70%;
        display: inline;
        list-style: none;
        font-size: 1.3em;
        font-weight: 300;
        color: #fff;
    }
    div.txt-sec4 ul li::before{
        content: "-";
        margin: 0 5px 0 0;
        font-size: 1.3em;
        font-weight: 300;
        color: #fff;
    }
    div.imgs-note{
        margin: -100px 0 0 0;
        flex-wrap: wrap;
    }
    div.imgs-note div.img{
        margin: 10px;
        width: 90%;
        max-width: 500px;
        min-height: 250px;
    }
    div.cont-imgs-note button{
        width: 60%;
    }
    footer{
        padding: 20px 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    div.nome-ft{
        margin: 5vw 0;
    }
    footer div.socials{
        display: initial;
    }
}
@media screen and (max-width: 500px){
    div.praise-cont{
        display: none;
    }
    section.sec2{
        border-top: 7px solid var(--red-medium);
    }
}